body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  background-color: #89C15E;
}
/* Top view game name, user score computer score*/
.topview {
  border-radius: 13px;
  border: 2px solid #FFF;
  display: flex;
  margin: 62px 81px;
  width: 800px;
  height: 158px;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
  align-items: center;

}

.gamename {
  margin-right: auto;
  color: #FFF;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 4px;
  text-align: left;
  margin-left: 18px;

}

.computerscore-div {
  width: 150px;
  background-color: white;
  border-color: none;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  display: inline;
}

.scoretitle {
  color: #656565;
  text-align: center;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1.7px;
}

#csvalue,#yourvalue{
  font-family: Roboto;
  font-size: 58px;
  text-align: center;
  color: #252525;
font-style: normal;
font-weight: 700;
line-height: normal;


}


/* User need to select option game contaiener  */
.game-container {
  position: absolute;
  top: 40%;
  left: 25%;
  
}

.choice {
  position: absolute;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice img {
  max-width: 150px;
  max-height: 150px;
}

.inner-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65px;
  height: 55px;
}

#rock {
  top: 50px;
  left: 100px;
}

#paper {
  top: 300px;
  left: 300px;
}

#scissors {
  top: 50px;
  left: 500px;
}

#lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  /* Set the same width as the canvas in CSS */
  height: 420px;
  /* Set the same height as the canvas in CSS */
}

#openDialogBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  width: 80px;
  color: white;
  border: 2px solid #FFF;
  background: rgba(217, 217, 217, 0.00);


  font-family: Roboto;
font-size: 21px;
font-style: normal;
font-weight: 600;
line-height: 82.187%; /* 17.259px */
letter-spacing: 2.1px;
  width: 119px;
}


.rulesdialog {
  display: none;
  position: absolute;
  bottom: 30px;
  right: 20px;
  width: 300px;
  transform: translate(0%, -20%);
  padding: 20px;
  border-radius: 13px;
  border: 7px solid #FFF;
  background: #004429;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.rulesdialog_content {
  text-align: center;
  color: #FFF;
}

.rulesdialog_content_inner {
  text-align: start;
  color: #FFF;
  color: #FFF;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  color: white;
  font-size: 24px;
  font-weight: 700;
  transform: translate(50%, -50%);
  background-image: url("images/btn_back.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: inherit;
}

#playAgainButton {
  bottom: 20px;
  right: 20px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.game_status {
  margin-top: 50px;
  display: flex;
  width: 750px;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
}

.picked{
  margin-top: -80px;
  z-index: 2;
  position: absolute;
}

.userselected, .computerselected {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.circle {
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  width: 350px;
  height: 350px;
  top: 50%; /* Center the circle vertically */
  left: 50%; /* Center the circle horizontally */
  transform: translate(-50%, -50%); /* Adjust for both centering */
  background-color: rgba(46, 154, 37, 0.39);

}

.circle2 {
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(29, 168, 43, 0.79);
}

.circle3 {
  width: 250px;
  height: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #44a10b;
}

#user_selected_image_div_id{
   z-index: 1;
}
#computer_selected_image_div_id{
  z-index: 1;
}

.next {
  position: fixed;
  bottom: 20px;
  right: 180px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #FFF;
  background: rgba(217, 217, 217, 0.00);
  color: #ffffff;
padding: 10px;
font-family: Roboto;
font-size: 21px;
font-style: normal;
font-weight: 600;
line-height: 82.187%; /* 17.259px */
letter-spacing: 2.1px;
  width: 119px;
} 


#you_win_p{
  color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 39px;
font-style: normal;
font-weight: 800;
line-height: normal;
letter-spacing: 3.9px;
}

#against_pc_p{
  color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 25px;
font-style: normal;
font-weight: 800;
line-height: normal;
letter-spacing: 2.5px;
}

#playAgainButton{
  margin-left: auto;
  margin-right: auto;
  border-radius: 9px;
background: #FFF;
color: #6B6B6B;
width: 174px;
height: 44px;
font-family: Roboto;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 1.5px;
}

.text_items{
  align-items: center;
}

.picked{
  color: #FFF;
  margin-left: auto;
  margin-right: auto;
font-family: Roboto;
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 1.7px;
}

.list{
  list-style-type: none;
}

li::before {content: "\25FC"; color:#FFD600;;
  display: inline-block; width: 1em;
   text-align:center;
  margin-left: -1em}  

 